mixin left-sidebar(active)

  //Sidebar item function
  mixin sb-item(id, name, url, icon)
    - var active_item = false
    - url = (url ? url + "." + conf.pagesExtension : '#');
    
    if id == active
      - active_item = true

    li(class=( active_item == true ? 'active' : undefined ))
      a(href= url)
        i(class="#{conf.sidebarIconPrefix} #{conf.sidebarIconPrefix}-#{icon}")
        span= name
        span(class="#{conf.sidebarIconPrefix} #{conf.sidebarIconPrefix}-arrows_plus")
      if block
        ul.sub-menu
          block

  //Sidebar sub-item function
  mixin sb-sub-item(id, name, url)
    - var active_item = false
    - url = (url ? url + "." + conf.pagesExtension : '#');

    if id == active
      - active_item = true

    li(class=( active_item == true ? 'active' : undefined ))
      if block
        a(href= url)
          block
          | #{name}
      else
        a(href= url)= name

  block left-sidebar-structure
    //Here goes the sidebar structure
    .my-main-sidebar-container
      .my-sidebar-toggle
        span(class="#{conf.sidebarIconPrefix} #{conf.sidebarIconPrefix}-arrows_hamburger2")
      .content
        include /includes/structure/left-sidebar/top.jade
        include /includes/structure/left-sidebar/menu-elements.jade
        include /includes/structure/left-sidebar/bottom.jade